:root {
  --mainColor: #932180;
  --secondaryColor: rgba(147, 33, 128, 0.5);
  --helperColor: #430f85;
  --circleColor: #99BAD4;
  --white: #fff;
  --black: #000;
  --semiBlack: rgba(0, 25, 47, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

/* start global classes */
.mainBtn,
.secondaryBtn {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  font-size: 1.1rem;
  font-weight: 600;
}

.secondaryBtn {
  background-color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
}

.mainBtn:hover,
.secondaryBtn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--mainColor);
  border-color: var(--mainColor);
}

.secondaryBtn:hover {
  color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

.globalHeading h1 {
  color: var(--helperColor);
  font-weight: bold;
  margin: 0 10px;
}

.globalHeading span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--circleColor);
}

/* end global classes */
.Login {
  background-color: white;
  height: 100vh;
}

.border-section {
  border-radius: 1rem;
}

.img-Login {
  border-radius: 0 1rem 1rem 0;
  height: 100%;
}

.h5-form {
  letter-spacing: 1px;
  font-size: 35px;
}

.font-Form {
  letter-spacing: 1px;
  font-size: 20px;
}

.p-Form {
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--semiBlack);
}

.p-Form a {
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--helperColor);
}

.a-Form {
  letter-spacing: 1px;
  font-size: 18px;
  color: var(--semiBlack);
}

.pad-form {
  padding-bottom: 30px;
  padding-top: 30px;
}

.p-sec {
  padding-right: -200px;
}